<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156001161689-v65j56f1qfoj35hb0ve0uefe4j1ct4du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156001161689-v65j56f1qfoj35hb0ve0uefe4j1ct4du</string>
	<key>API_KEY</key>
	<string>AIzaSyDVRwLXiXnFq2sbeZPu5gS-LDEiZgbGlxk</string>
	<key>GCM_SENDER_ID</key>
	<string>156001161689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joakes.SongBar</string>
	<key>PROJECT_ID</key>
	<string>songbar-eacbf</string>
	<key>STORAGE_BUCKET</key>
	<string>songbar-eacbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156001161689:ios:4a9a3e0cc67639da2609c8</string>
</dict>
</plist>